/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h0 {
    font-family: "IBM Plex Mono, sans-serif";
    font-weight: 200;

}

hCN {
    font-family: "Noto Sans SC, sans-serif";
    font-weight: 200;
    font-size: smaller;
}

hLabel {
    font-family: "Bitter", serif;
    font-style: italic;
    font-weight: 100;
    font-size: smaller;
}


h1,
h2 {
    font-family: "Bitter", serif;
    font-weight: 300;
    font-size: xx-large;
    margin-bottom: 10px;
    padding: 10%;
}


/* Body styles */
body {
    font-family: "Manrope", serif;
    font-weight: 200;
    line-height: 1.5;
    background-color: #ffffff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    /* background-color: #333; */
    padding: 10px 0;
}


nav {
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

/* Main styles */
section {
    margin-bottom: 40px;
}


h0 {
    font-family: "IBM Plex Mono, sans-serif";
    font-weight: 200;

}

hCN {
    font-family: "Noto Sans SC, sans-serif";
}

hLabel {
    font-family: "Bitter", serif;
    font-style: italic;
    font-weight: 100;
}


h1,
h2 {
    font-family: "Bitter", serif;
    font-weight: 300;
    font-size: xx-large;
    margin-bottom: 10px;
    padding: 10%;
}

/* fn stands for footnote */

fn {
    font-family: "Manrope," sans-serif;
    font-weight: 100;
    font-size: smaller;
    text-align: center;
    color: darkgrey;
    line-height: 0pt;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}


.column img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;

}

p {
    margin-bottom: 20px;
}

.content {
    /*  float: left; */
    width: 90%;
    padding-left: 10%;
}


a {
    font-family: "IBM Plex Mono", sans-serif;
    font-weight: 200;
    font-size: smaller;
    color: #333;
    text-decoration: none;
}

a:hover {
    background-color: yellow;
}


/* c stands for citation */
c {
    font-family: "Manrope", sans-serif;
    font-weight: 200;
    font-size: small;

}

/* Media Queries */
@media (max-width: 768px) {
    .column {
        width: 100%;
    }
}

/* Footer styles */
footer {
    background-color: #ffffff;
    padding: 20px 0;
    color: #333;
    text-align: center;
}

/* fn stands for footnote */

fn {
    font-family: "Manrope," sans-serif;
    font-weight: 100;
    font-size: smaller;
    text-align: center;
    color: darkgrey;
    line-height: 0pt;
}
